$project_name = "project-name"

group { 'puppet': ensure => present }
Exec { path => [ '/bin/', '/sbin/', '/usr/bin/', '/usr/sbin/' ] }
File { owner => 0, group => 0, mode => 0644 }

class {'apt':
  always_apt_update => true,
}

Class['::apt::update'] -> Package <|
    title != 'python-software-properties'
and title != 'software-properties-common'
|>

    apt::key { '4F4EA0AAE5267A6C': }

apt::ppa { 'ppa:ondrej/php5-oldstable':
  require => Apt::Key['4F4EA0AAE5267A6C']
}

class { 'puphpet::dotfiles': }

host { 'mysql.fsi.pl':
    ip => '127.0.0.1',
    host_aliases => 'localhost'
}

package { [
    'build-essential',
    'vim',
    'curl',
    'git-core',
    'firefox',
    'mc'
  ]:
  ensure  => 'installed',
}

class { 'apache': }

apache::dotconf { 'custom':
  content => 'EnableSendfile Off',
}

apache::module { 'rewrite': }

apache::vhost { "${project_name}.dev":
  server_name   => "${project_name}.dev",
  serveraliases => [
    "www.${project_name}.dev"
  ],
  docroot       => "/var/www/${project_name}/web/",
  port          => '80',
  env_variables => [
],
  priority      => '1',
}

class { 'php':
  service             => 'apache',
  service_autorestart => false,
  module_prefix       => '',
}

php::module { 'php5-mysql': }
php::module { 'php5-cli': }
php::module { 'php5-curl': }
php::module { 'php5-intl': }
php::module { 'php5-mcrypt': }
php::module { 'php5-gd': }
php::module { 'php-apc': }

class { 'php::devel':
  require => Class['php'],
}

class { 'php::pear':
  require => Class['php'],
}

php::pear::module { 'PHPUnit':
  repository  => 'pear.phpunit.de',
  use_package => 'no',
  require => Class['php::pear']
}

class { 'xdebug':
  service => 'apache',
}

class { 'composer':
  require => Package['php5', 'curl'],
}

puphpet::ini { 'xdebug':
  value   => [
    'xdebug.default_enable = 1',
    'xdebug.remote_autostart = 0',
    'xdebug.remote_connect_back = 1',
    'xdebug.remote_enable = 1',
    'xdebug.remote_handler = "dbgp"',
    'xdebug.remote_port = 9000'
  ],
  ini     => '/etc/php5/conf.d/zzz_xdebug.ini',
  notify  => Service['apache'],
  require => Class['php'],
}

puphpet::ini { 'php':
  value   => [
    'date.timezone = "Europe/Warsaw"'
  ],
  ini     => '/etc/php5/conf.d/zzz_php.ini',
  notify  => Service['apache'],
  require => Class['php'],
}

puphpet::ini { 'custom':
  value   => [
    'display_errors = On',
    'error_reporting = -1',
    'short_open_tag = 0',
    'xdebug.max_nesting_level = 1000'
  ],
  ini     => '/etc/php5/conf.d/zzz_custom.ini',
  notify  => Service['apache'],
  require => Class['php'],
}


class { 'mysql::server':
  config_hash   => { 'root_password' => 'toor' }
}

mysql::db { "${project_name}":
  grant    => [
    'ALL'
  ],
  user     => "${project_name}",
  password => "${project_name}",
  host     => 'localhost',
  charset  => 'utf8',
  require  => Class['mysql::server'],
}

mysql::db { "${project_name}-test":
  grant    => [
    'ALL'
  ],
  user     => "${project_name}-tst",
  password => "${project_name}-tst",
  host     => 'localhost',
  charset  => 'utf8',
  require  => Class['mysql::server'],
}

mysql::db { "${project_name}-dev":
  grant    => [
    'ALL'
  ],
  user     => "${project_name}-dev",
  password => "${project_name}-dev",
  host     => 'localhost',
  charset  => 'utf8',
  require  => Class['mysql::server'],
}

class { 'java': }

class { 'xvfb': }

class { "selenium":
  version => "2.33.0",
  require => Class['java', 'xvfb']
}
