---
# Project
project_name: symfony.dev
project_root: /var/www/symfony2_app
project_web_root: /var/www/fsi-oauth/web
project_databases: ['symfony', 'symfony-dev', 'symfony-tst']

# Composer
composer_download_url: https://getcomposer.org/composer.phar

#MySQL
mysql_port: 3306
mysql_root_db_pass: ""

